:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
  }
  

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



body{
 background:var(--off-white);
 padding-top:5rem;
 padding-left:max(5VW - 20px, 0px);
 padding-right:max(5VW - 20px, 0px);
 padding-bottom:0px;
 margin:0px;
}

#calculator-container-container{
    background: var(--off-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top:10rem;
    padding-bottom:10rem;
    padding-left:max(20VW - 20px, 10px);
    padding-right:max(20VW - 20px, 10px);
}

#calculator-container{
    background: white;
    border-radius: 2rem;
    border-bottom-right-radius: 5rem;
  
    padding: 2rem;
    
    margin-left: auto;
    margin-right: auto;
}

#input-container{
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom: 1px solid var(--light-grey); 
}

#input-container button{
    position:relative;
    bottom:-10px;
    margin-left:auto;
    transform: translateY(50%);       
}

footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.date-input {
    font-weight: bold;
    margin-right:10px;
    width: 10%;
    min-width:2em;
}

.date-input input{
  width:100%;
  min-width:2em;
}

