:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
  }


@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype'),
            url('assets/fonts/Poppins-BoldItalic.ttf') format('truetype'),
            url('assets/fonts/Poppins-ExtraBold.ttf') format('truetype'),
            url('assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
            url('assets/fonts/Poppins-Italic.ttf') format('truetype'),
            url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}

  

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body{
 background:var(--off-white);
 padding-top:max(40VH - 270px, 0px);
 padding-bottom:max(40VH - 270px, 0px);
 padding-left:max(10VW - 60px, 0px);
 padding-right:max(5VW - 20px, 0px);

 margin:0px;
 font-family: 'Poppins';
}

#calculator-container-container{
    background: var(--off-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 400px;
    padding-top: max(20VH - 120px + 50px, 50px);
    padding-bottom: max(20VH - 120px + 50px, 50px);
    padding-left:max(30VW - 120px, 0px);
    padding-right:max(30VW - 120px, 0px);
}

#calculator-container{
    background: white;
    border-radius: 2rem;
    border-bottom-right-radius: 5rem;
    padding: 2rem;
}

#input-container{
    position: relative;     
    display: flex;
    flex-direction: row;
    margin-bottom:20px;
    padding-bottom:40px;
    border-bottom: 1px solid var(--light-grey);
}

#input-container .button-div{
    position:relative;  
    width:100%;
    border:1px solid black;
}

#input-container button{    
    margin: 0;
    position: absolute;
    bottom:0px;
    left: 100%;
    -ms-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
    background-image: url('assets/images/icon-arrow.svg');
    background-color: var(--purple);
    background-size: 50%;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    border: none;
    height:44px;
    width:46px;
    border-radius: 50%;
}

#input-container button:hover{    
    background-color: var(--smokey-grey);
}


#input-container button:active{    
    background-color: var(--off-black);
}


.date-input {
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    margin-right:3em;
    width:4em;
}

.date-input input{
    font-weight: bold;
    font-size: larger;
    width:4em;
    margin-top:10px;
    padding:10px;
}

.date-input input::placeholder {
    color: grey;
  }

#result-container{
    font-weight:bold;
    font-size:50px;
    font-style: italic;
}

#result-container .num{
    color:var(--purple);
}

footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:500px) {
    #input-container button{    
        left: 50%;
        -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }

    #calculator-container-container{
        box-shadow: none;

    }
}
